
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Poppins:wght@200;300;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --verde-oscuro: #29BF12;
    --verde-claro: #ABFF4F;
    --celeste: #08BDBD;
    --rosa:#F21B3F;
    --naranja: #FF9914;
}

body{
    font-family: "Poppins", sans-serif;
}

/* navbar*/

.menu {
    background-color:var(--verde-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 2rem;
}

img{
    border-radius: 10%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    margin: 2rem;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: ;
}

 ul{
    list-style: none;
    align-items: center;
 }

 li{
    margin: 30%;
    
 }

.link-item{
    
    text-decoration: none;
    background-color:var(--verde-oscuro);
    padding: 10px;
    color: white;
    border-radius: 10px;  
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);  
}
.link-item:hover{
    background-color: white;
    color: var(--verde-claro);
    padding: 15px;
}
.link-item:active{
    text-decoration: underline;
}



/* comienza section 1  recetas */

.recetas {
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40%;

}

h1{
    margin: 20px;
    color: var(--naranja);
}

.foto-ensalada{
    width: 80%;
    height: 30%;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--naranja);
    gap: 1rem;
}

.link{
    display: block;
    text-decoration: none;
    background-color: var(--naranja);
    color: white;
    border-radius: 10px;
    padding: 10px;
    
}
.link:hover{
    background-color: var(--verde-claro);
    color: var(--naranja);
}
.link:active{
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .menu{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    img{
        width: auto;
        height: 95%;
    }
    ul{
        display: flex;
        flex-direction: row;
    }
    li{
        margin: 5px;
        font-size: large;
    }
    .datos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    }