@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --marron:#532928;
    --rosaclaro:#fbc3c3;
    --rosaoscuro:#ad7a7a;
}

body{
    background: rgb(83,41,40);
    background: linear-gradient(180deg, rgba(83,41,40,1) 0%, rgba(173,122,122,1) 35%, rgba(251,195,195,1) 100%);
    width: 100vw;
    max-width: 100%;
    font-family: "Comfortaa", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


.about{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 1rem;
}

.texto{
    background-color: var(--rosaclaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }


h1{
font-size: 45px;
color: var(--marron);
} 


h2{
    margin: 2rem;
    font-size: 35px;
}

ul{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

a{
    background-color: var(--rosaoscuro);
    color: var(--marron);
    font-size: x-large;
    border-radius: 10px;
    box-shadow: 2px,2px #532928;
    margin: 1rem;
    padding: 1rem;
}

a:hover{
    background-color: var(--marron);
    color: var(--rosaoscuro);
}

.info{
    background-color: #ad7a7a;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.imagen{
    background-color: var(--rosaoscuro);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

img{
    width:100%;
    height: auto;
}



@media screen and (min-width: 480px) and (max-width:780px) {
    .about{
        display: flex;
        flex-direction: column;
    }

    img{
        width: 100%;
        height: auto;
    }

    .imagen{
        width:100%;
        height: auto;    
    }

    h2{
        font-size:large;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1px;
    }

    a{
        font-size: small;
        padding: 2 px;
        display: block;
    }

    .info{
        display: flex;
        margin: 10px;
    }
}