@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #532928;
}

.header{
    background-color:#ad7a7a;
    height: 14rem;
    position: fixed;
    width: 100%;
    padding: 10px;
}

.opciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.opciones {
    background-color: #fbc3c3;
    cursor: pointer;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
}

ul {
display: flex;
justify-content: center;
list-style-type: none;
margin: 50px;
}

li a{ 
    padding: 10px;
    color: #532928;
    text-decoration: none;
}

li a:hover {
     background-color: #ad7a7a;
     border-radius: 10px;
     border-color: #532928;
     color: #fbc3c3;
}

img {
   display:flex;
   padding: 0px;
   margin-left: 50px;
   max-width: 40%;
   max-height: 40%;
   align-items: center;
}
